@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.contest-header {
	margin-bottom: 30px;

	&__header {
		margin-bottom: 12px;
		font-weight: 700;
		font-size: 24px;
	}

	&__title {
		font-weight: 600;
		font-size: 20px;
	}

	&__controls {
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: 20px;

		@media(max-width: 900px) {
			flex-direction: column;
			align-items: flex-start;

			.contest-header__view-switcher {
				margin-bottom: 20px;
				max-width: 100%;
			}

			.contest-header__reward-input-container {
				margin-bottom: 20px;
				margin-left: 0;
			}

			.contest-header__export-button {
				margin: 0;
				max-width: 100%;
			}
		}
	}

	&__view-switcher {
		display: flex;
		width: max-content;
		height: 42px;
	}

	&__participants-view-button, &__jury-view-button {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: $dark-blue;
		border: 1px solid $dark-blue;
		background-color: $white;
		user-select: none;
		cursor: pointer;

		&--active {
			color: $white;
			font-weight: 700;
			background-color: $dark-blue;
		}
	}

	&__participants-view-button {
		width: 180px;
		border-radius: 20px 0 0 20px;
	}

	&__jury-view-button {
		width: 100px;
		border-radius: 0 20px 20px 0;
	}

	&__reward-input-container {
		display: flex;
		align-items: center;
		width: 100%;
		height: 36px;
		max-width: 230px;
		margin-left: 20px;
		border-bottom: 1px solid $grey;
		transition: border-color .2s;

		&--filled {
			border-color: $dark-blue;

			.contest-header__reward-input {
				color: $dark-blue;
			}

			.checked-icon rect {
				fill: $dark-blue;
			}
		}

		.checked-icon {
			width: 18px;
			height: 14px;
			margin-left: 3px;
			transition: fill .2s;
		}
	}

	&__reward-input {
		height: 100%;
		width: calc(100% - 25px);
		font-size: 18px;
		font-weight: 300;
		color: $grey;
		border: none;
		outline: none;
		transition: color .2s;
	}

	&__export-button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 44px;
		width: 220px;
		margin-left: auto;
		font-size: 18px;
		font-weight: 700;
		color: $white;
		background-color: $dark-green;
		border-radius: 22px;

		@include export-button-effects($dark-green, $white);
	}
}